<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
<head>
  <meta http-equiv=”Pragma” content=”no-cache”>
  <meta http-equiv=”Expires” content=”-1″>
  <meta http-equiv=”CACHE-CONTROL” content=”NO-CACHE”>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Notes</title>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <style>
    html, body {
      background-color: #2196F3;
    }
    .md-theme-bg {
      background-color: #2196F3 !important;
      color: #FFF !important;
    }
    .md-theme {
      color: #2196F3 !important;
    }
    .notes-container {
      background-color: rgb(250,250,250);
      width: 300px;
      margin: 1% auto;
      padding: 1%;
    }
    .app-container {
      width: 380px;
      background-color: rgb(250,250,250);
      margin: 2% auto;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    .login-container {
      padding: 10% 0;
    }
    .save-btn {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    @media(max-width:480px) {
      .app-container {
        width: 100%;
        margin: 2% 1%;
      }
    }
  </style>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <!-- <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="815050883599-ob0dh5rl44q4fitgo2diedkjfe1qkf9e.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js"></script> -->

  <script src="bower_components/ng-google-signin/dist/ng-google-signin.js"></script>

  <script src="app.js"></script>

</head>
<body>
  <div layout="column" class="app-container">
    <div flex class="login-container" ng-controller="loginCtrl" ng-hide="loggedIn">
      <div layout="column" layout-align="center center">
        <div flex>
          <div layout="column" layout-align="center center">
            <div flex><h3 class="md-headline">Welcome</h3></div>
            <div flex><p class="md-body-1">Want To Take Notes?</p></div>
            <div flex><p class="md-body-1">Please Sign In With Your Google Account.</p></div>
          </div>
        </div>
        <div flex>
          <a href="" ng-click="login();" class="md-raised"><img src="btn.png" /></a>
        </div>

      </div>
    </div>

    <div flex class="" ng-controller="acctCtrl" ng-show="loggedIn">
      <div layout="column" layout-align="center center">
        <div flex>
          <h4 class="md-title">My Account</h4>
          <h4 class="md-title">{{username}}</h4>
        </div>
        <div flex>
          <img ng-src="{{imgUrl}}" onerror="this.src='profile_default.png'" width="96"/>
        </div>
        <div flex>
          <md-button type="button" class="md-raised md-theme-bg" ng-click="logout();">Logout</md-button>
        </div>
      </div>
    </div>

    <div flex class="notes-container" id="notesContainer" ng-controller="notesCtrl" ng-show="loggedIn">
      <div layout="column" layout-align="center center" flex>
        <div flex>
          <form ng-submit="addNote();">
            <md-input-container class="md-block" flex>
              <label>New Note</label>
              <textarea ng-model="newNote" md-maxlength="250" rows="5"></textarea>
            </md-input-container>
            <md-input-container class="md-block" flex>
              <md-button type="submit" class="md-raised md-theme-bg save-btn">Save</md-button>
            </md-input-container>
          </form>
          <md-content>
            <md-list-item class="md-2-line md-long-text" ng-repeat="note in notes" ng-click="showAlert($event, note)">
              <div class="md-list-item-text" layout="column">
                <p>{{ note.note }}</p>
                <h4 class="md-theme">{{ note.created | date:'medium' }}</h4>
              </div>
            </md-list-item>
          </md-content>
          <div layout="row" layout-sm="column" ng-hide="notes" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
